@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Voces&display=swap");

.MenuBut {
	/* background-color: rgb(63, 145, 203); */
	background-color: rgb(0, 122, 255);
	color: white;
	margin-top: 60px;
	border-radius: 7px;
	padding: 5px;
	height: 40px;
	width: 120px;
	font-size: 20px;
	border-radius: 10px;
	border: none;
	font-family: "Voces", cursive;
}

.RestName {
	font-family: "Baloo Da 2", cursive;
	margin-top: 100px;
}

.helper-text {
	margin-top: 50px;
	margin-bottom: -60px;
}
.RestName:hover {
	text-decoration: underline;
}

.hidden {
	display: none;
}

@media only screen and (max-width: 1000px) and (min-width: 601px) {
	.MenuBut {
		/* background-color: rgb(63, 145, 203); */
		background-color: rgb(0, 122, 255);
		color: white;
		margin-top: 34px;
		border-radius: 7px;
		padding: 5px;
		height: 40px;
		width: 140px;
		font-size: 20px;
		border-radius: 10px;
		border: none;
		font-family: "Voces", cursive;
	}
}

@media only screen and (min-width: 1001px) {
	.MenuBut {
		/* background-color: rgb(63, 145, 203); */
		background-color: rgb(0, 122, 255);
		color: white;
		margin-top: 34px;
		border-radius: 7px;
		padding: 5px;
		height: 40px;
		width: 150px;
		font-size: 20px;
		border-radius: 10px;
		border: none;
		font-family: "Voces", cursive;
	}
}
