@import url("https://fonts.googleapis.com/css2?family=Voces&display=swap");

.RatingButs {
	/* background-color: #81b29a;
	color: white;
	border-radius: 5px; */
	background-color: rgb(0, 122, 255);
	color: white;
	margin-top: 7px;
	border-radius: 7px;
	height: 30px;
	width: 90px;
	font-size: 20px;
	border-radius: 180px;
	border: none;
	font-family: "Voces", cursive;
	/* margin-left: 70%; */
}

.ItemButs {
	background-color: rgb(0, 122, 255);
	color: white;
	margin-top: 24px;
	border-radius: 7px;
	padding: 5px;
	height: 20px;
	width: 47px;
	font-size: 10px;
	border-radius: 10px;
	border: none;
	margin-left: 5px;
	font-family: "Voces", cursive;
}

.ItemDesc {
	color: #00296b;
}
