.searchForm {
    padding: 150px 20px;
    /* image belongs to Rere Dina https://id.pinterest.com/rerediena/amoled-food/ */
    background-image: url(https://i.pinimg.com/originals/e6/fa/3d/e6fa3da270a13f1b8f9d3b8ad132fd00.jpg);
    height: 400px;
    background-size: cover;
}
input {
    font-size: 20px;
}
.inputZipCode {
    max-width: 75px;
}